// site colors

$nior: #0B0D17;
$powderBlue: #D0D6F9;
$white: #ffffff;

// fonts
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

$barlowReg: 'Barlow Condensed', sans-serif;
$bellefair: 'Bellefair', serif;

// Breakpoints
$container: 1110px;
$desktop: 1440px;
$tablet: 768px;
$mobile: 375px;